@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css'); 

:root {
    --font-elegant : 'Playfair Display', serif;
    --font-size-title : 600;
    --color-link : rgba(240, 146, 162, 0.986);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}
a {
    text-decoration: none;
    color: var(--color-link);
}

header {
    width: 80%;
    margin: 0 auto;
    text-align: end;
}